

.favImage {
    width:200px; 
    height:200px; 
    padding:20px;

}

.favContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
